{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Welcome to AF360 Systems</h2>
    <p>Select an application to access:</p>
    
    <div class="row mt-4">
        {% for app_name, app_url in apps.items() %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ app_name|title }}</h5>
                    <p class="card-text">Click below to access {{ app_name|title }}</p>
                    <a href="{{ url_for('authorize_app', app_name=app_name) }}" class="btn btn-primary">Access</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
